name: CI

on:
  push:
    branches:
      - "**"

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: make build
      - name: Test
        run: make test
